{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": true,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": true,
  "quoteProps": "consistent"
}